html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cafeBackgroundImage {
    position: fixed;
    top:0;
    height: 100dvh;
    width: 100dvw;
    opacity: 100%;
    z-index: 99;
}

.header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(245, 245, 245);
    z-index: 100;
}

.logo {
    margin-top: 0;
    margin-left: 25px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.logoText {
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.header .cartBox {
    position: relative;
    top: -50px;
    right: -1450px;
    height: 50px;
    width: 50px;
}

.header .cartBox .cartButton {
    position: relative;
    height: 50px;
    width: 50px;
    font-size: 15px;
    border: none;
    background-color: rgb(255, 128, 0);
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.header .cartBox .cartButton:hover {
    background-color: rgb(255, 192, 0);
    color: black;
}

.header .cartBox .cartButton:active {
    transform: translateY(2px);
    background-color: black;
    color: rgb(255, 192, 0);
}

.header .cartBox .cartCount {
    position: absolute;
    top: -17px;
    right: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 1px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.recipesDisplay {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
    left: 20px;
    width: 100vw;
    top: 50px;
    height: calc(100vh - 50px);
    column-gap: 10px;
    z-index: 100;
}

.recipeCard {
    width: 250px;
    height: 500px;
    display: inline-block;
    border: 1px solid rgb(155, 152, 152);
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 5px;
}

.recipeImage {
    width: 100%;
    height: 250px;
}

.recipePicture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipeInfo {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.recipeTitle {
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color:rgb(255, 128, 0);
}

.moreOnRecipe {
    margin-top: -10px;
    margin-left: 10px;
    height: 500px;
    width: fit-content;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: white;
}

.buttons {
    margin-top: -5px;
    width: fit-content;
    display: flex;
}

.addToCart,
.viewJourney {
    width: 125px;
    height: 45px;
    background-color: rgb(255, 128, 0);
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.viewJourney {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.addToCart {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.viewJourney:hover,
.addToCart:hover {
    background-color: rgb(255, 192, 0);
    color: black;
}

.addToCart:active,
.viewJourney:active {
    transform: translateY(2px);
    background-color: black;
    color: rgb(255, 192, 0);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.684);
    z-index: 100;
}

.popupWindow {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    z-index: 100;
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.447);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid rgb(155, 152, 152);
}

.itemImageBox {
    width: 500px;
    height: 600px;
    display: flex;
}

.popupImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popupItemInfo {
    position: relative;
    width: 490px;
    height: 600px;
    left: 10px;
    top: 0px;
}

.popupItemName {
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: rgb(255, 128, 0);
}

.popupItemFacts {
    height: 360px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color:white;
    line-height: 20px;
}

.popupItemPrice {
    margin-top: 15px;
    margin-left: 10px;
    width: fit-content;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: rgb(255, 128, 0);
    font-weight: bold;
}

.popupItemQuantity {
    margin-top: 15px;
    margin-left: 10px;
    width: fit-content;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: rgb(255, 128, 0);
    font-weight: bold;
}

.popupItemQuantitySelector {
    background-color: black;
    color: rgb(255, 128, 0);
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid rgb(225, 224, 224);
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.popupButtons {
    margin-top: 59px;
    margin-left: -10px;
    width: fit-content;
    display: flex;
}

.popupClose,
.popupAddToCart {
    width: 250px;
    height: 60px;
    background-color: rgb(255, 128, 0);
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.popupClose {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.popupAddToCart {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popupClose:hover,
.popupAddToCart:hover {
    background-color: rgb(255, 192, 0);
    color: black;
}

.popupClose:active,
.popupAddToCart:active {
    transform: translateY(2px);
    background-color: black;
    color: rgb(255, 192, 0);
}
