html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cartPageBackground{
    position: fixed;
    top:0;
    height: 100dvh;
    width: 100dvw;
    opacity: 100%;
    z-index: 98;
}

.header {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(245, 245, 245);
    z-index: 100;
    background-color:rgba(255, 255, 255, 0);
}

.header .logo {
    margin-top: 0;
    margin-left: 25px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header .logoText {
    color: white ;   
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.header .cartBox {
    position: relative;
    top: -50px;
    right:-1450px;
    height: 50px;
    width: 50px;   
}

.header .cartBox .cartButton {
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 15px;
    border: none;
    top: 0px;
    background-color: rgb(255, 128, 0);
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.header .cartBox .cartButton:hover {
    background-color: rgb(255, 192, 0);
    color: black;
}

.header .cartBox .cartButton:active {
    transform: translateY(2px);
    background-color: black;
    color: rgb(255, 192, 0);
}

.header .cartBox .cartCount {
    position: absolute;
    top: -17px;
    right: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding:1px;
    width: 20px;
    height: 20px;
    text-align: center;
}   

.cartItemsDisplay {
    position: relative;
    top: 60px;  
    height: calc(100dvh - 70px);
    width: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-x: hidden;
    overflow-y:scroll;
    scrollbar-width:none; 
    opacity: 100%;
}

.cartItemsDisplay .cartItemCard {
    position: relative;
    left: 35px;
    height: 250px;
    width: 700px;
    display: flex;
    flex-direction: row;
    z-index: 99;
    border: 1px solid rgb(155, 152, 152);
    background-color: rgba(0, 0, 0, 0.605);
    border-radius: 5px;
}

.cartItemCard .cartItemImageBox {
    margin-left: 0px;
    padding: 0;
    width: 200px;
    height: 250px;
}

.cartItemImageBox .cartItemImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cartItemCard .cartItemInfoBox {
    margin-left: 10px;
    padding: 0;
    width: 490px;
    height: 250px;
}

.cartItemInfoBox .cartItemName,
.cartItemInfoBox .cartItemPrice {
    margin-top: 10px;
    width: fit-content;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
}

.cartItemInfoBox .cartItemName {
    font-size: 20px;
}

.cartItemInfoBox .cartItemPrice {
    font-size: 15px;
}

.cartItemInfoBox .cartItemQuantityBox {
    margin-top: 10px;
    height: 10px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid rgb(255, 128, 0);
}

.cartItemQuantityBox .cartItemQuantityText,
.cartItemQuantityBox .cartItemQuantityNumber {
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: white;
}

.cartItemQuantityBox .cartItemQuantityText {
    width: 80px;
}

.cartItemQuantityBox .cartItemQuantityNumber {
    width: 20px;
}

.cartItemQuantityBox .cartItemDecreaseButton,
.cartItemQuantityBox .cartItemIncreaseButton {
    border: none;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.cartItemInfoBox .cartItemRemoveButton {
    position: relative;
    top: 91px;
    left: -10px;
    border: none;
    font-size: 15px;
    background-color: rgb(255, 128, 0);
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 500px;
    height: 40px;
    transition: 0.2s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cartItemInfoBox .cartItemRemoveButton:hover {
    background-color: rgb(255, 64, 0);
}

.cartItemInfoBox .cartItemRemoveButton:active {
    transform: translateY(2px);
    background-color: black;
    color: red;
}
